body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.table-container {
    width: 100%; /* Aumenta a largura da tabela para 100% */
    margin: 0 auto; /* Centraliza a tabela */
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
}

.table {
    width: 100%; /* Faz a tabela ocupar toda a largura disponível */
    table-layout: auto; /* Permite que as colunas se ajustem ao conteúdo */
    border-collapse: collapse; /* Remove espaços entre as bordas das células */
}

.table th, .table td {
    padding: 6px; /* Diminui ainda mais o espaçamento interno das células */
    border: 1px solid #ddd; /* Adiciona bordas para melhor visibilidade */
    overflow: visible; /* Permite que o conteúdo que excede a largura da célula seja visível */
    text-overflow: clip; /* Remove a adição de '...' se o conteúdo for muito longo */
    white-space: nowrap; /* Impede que o texto quebre para a próxima linha */
    font-size: 12px; /* Diminui ainda mais o tamanho da fonte */
}

.table th {
    background-color: rgba(54, 162, 235, 0.6); /* Cor de fundo dos cabeçalhos */
    color: white; /* Cor do texto dos cabeçalhos */
}

.cabe {
    text-align: left; /* Alinha o texto à esquerda */
}

/* Estilos para as bolinhas de status */
.status-bola {
    display: inline-block;
    width: 8px; /* Tamanho da bolinha */
    height: 8px; /* Tamanho da bolinha */
    border-radius: 50%; /* Faz a bolinha ser redonda */
}

.ativo {
    background-color: green; /* Cor verde para ativo */
}

.inativo {
    background-color: red; /* Cor vermelha para inativo */
}
