body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.table-container {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

.table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 6px;
    border: 1px solid #ddd;
    overflow: visible;
    text-overflow: clip;
    white-space: nowrap;
    font-size: 10px; /* Tamanho da fonte reduzido */
}

.table th {
    background-color: rgba(54, 162, 235, 0.6);
    color: white;
}

.cabe {
    text-align: left;
}


.table td {
    text-transform: uppercase;
}

.status-bola {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 2px;
}

.ativo {
    background-color: green;
}

.esperando {
    background-color: blue;
}

.off {
    background-color: yellow;
}
