.content-header {
    background-color: #001f3f;  
    border-top: 5px solid green;
    padding: 20px;
    align-items: center;
    color: aliceblue;
}

.pagination .page-item .page-link {
    background-color: green; 
    color: white; 
    border: none !important; 
    opacity: 1; 
}
.navbar .container-fluid {
    border-bottom: 5px solid green;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
table {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: none;
}
table {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
table th, table td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.navbar .container-fluid .titulo {
    color: #001f3f; 
    font-size: 30px;
    font-weight: bold;
    flex-grow: 1; 
    text-align: center; 
    margin: 0; 
}
.pagination .page-item.active .page-link {
    background-color: none; 
    color: white; 
    border: none !important; 
    opacity: 1; 
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.pagination-container {
    padding: 2em;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.table {
    margin: 0 auto; 
}
.mb-3 .form-control {
    width: 100%; 
}
#scrollToTop {
    border-radius: 50%; 
    background-color: #001f3f; 
    color: white;
    border: none; 
    width: 50px; 
    height: 50px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: background-color 0.3s; 
}
#scrollToTop:hover {
    background-color: #003366; 
}
@media (max-width: 768px) {
    .content-header {
        padding: 15px; 
    }
    .pagination-container {
        flex-direction: column; 
        padding: 1em; 
    }
    .pagination {
        font-size: 0.9em; /
    }
    .table {
        width: 100%; 
        overflow-x: auto; 
    }
    .table th, .table td {
        font-size: 12px; 
    }
    .mb-3 .form-control {
        margin-bottom: 1em; 
    }
    #scrollToTop {
        bottom: 10px; 
        right: 10px; 
        width: 40px; 
        height: 40px; 
    }
    
}
#keyboard-navigation-message {
    display: none; 
    margin: 10px 0;
    font-size: 14px;
    color: #555;
    background-color: #f9f9f9; 
    border: 1px solid #ddd;
    padding: 10px; 
    border-radius: 5px; 
}
