.content-header  {

    background-color:#001f3f;  
    border-top: 5px solid green;
    padding: 20px;
    align-items: center;
    color: aliceblue;

}
.pagination .page-item .page-link {
    background-color: green; /* Azul escuro para o fundo do botão */
    color: white; /* Cor do texto para branco */
    border: none !important; /* Remove a borda padrão */
    opacity: 1; /* Remove a opacidade padrão dos botões */

}

.pagination .page-item.active .page-link {
    background-color:none; /* Azul escuro mais forte para o botão ativo */
    color: white; /* Cor do texto para branco no botão ativo */
    border: none !important; /* Remove a borda padrão */
    opacity: 1; /* Remove a opacidade padrão dos botões */

}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



